#!/usr/bin/env bash

watch_file() { :; }

_cxxrs_nix() {
    local -r _cxxrs_envrc_json='.cxxrs.envrc.json'
    local _args
    if [ -f "$_cxxrs_envrc_json" ]; then
        readarray -d '' -t _args < <(jq --raw-output0 '.nix.args[]' "$_cxxrs_envrc_json")
    else
        local _0
        _0="$(nix eval --raw --file packages/nix/cxxrs/root/_dev/env.nix installables.default)"
        _args=("$_0" --print-build-logs --verbose)
    fi

    use flake "${_args[@]}"
}

_cxxrs_nix
